:root {
  --background-color: linear-gradient(
    123deg,
    rgb(126, 182, 164),
    rgb(181, 110, 110)
  );
  --font-color: rgb(255, 255, 255);
  --keypad-color: rgba(239, 227, 222, 1);
  --orange-color: rgba(206, 146, 43, 0.869);
  --number-color: rgba(129, 83, 108, 0.6);
  --border-color: rgb(206, 203, 203);
  --display-color: rgb(68, 86, 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding: 30px;
  border-radius: 30px;
  color: var(--font-color);
  box-shadow: 5px 10px 5px rgba(45, 45, 45, 0.2);
  background: linear-gradient(80deg, #4b6ea639, rgba(228, 243, 238, 0.499));
  overflow: hidden;
}

.display {
  display: flex;
  height: 150px;
  max-width: 300px;
  border: none;
  text-align: right;
  font-size: 40px;
  color: var(--display-color);
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(206, 202, 202, 0.851);
  border-radius: 10px;
}

.buttons {
  display: grid;
  height: 371.25px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-align: center;
}

.btn {
  border: none;
  background: none;
  color: var(--font-color);
  font-size: 30px;
  padding: 10px;
}

.gray:hover {
  background-color: var(--keypad-color);
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.orange:hover {
  background-color: var(--orange-color);
  border-radius: 50%;
  cursor: pointer;
}

.darkgray:hover {
  background-color: var(--number-color);
  border-radius: 50%;
  cursor: pointer;
}
